#navbar-container {
    font-family: 'Maven Pro' 'Roboto';
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 60px;
    background-color: white;
    box-shadow: 1px 1px 2px rgba(102, 87, 87, 0.349);
}

#trie {
    font-family: 'Maven Pro', 'roboto';
    height: 34px;
    border: 1px solid rgba(0, 0, 0, 0.274);
    border-radius: 5px 0 0 5px;
    background-color: #E9E5E5;
}

#search-bar {
    border: 1px solid rgba(0, 0, 0, 0.274);
    border-left: 0px ;
    border-right: 0px solid transparent;
    width: 420px;
    height: 30px;
}
#search-bar:focus-visible {
    font-family: 'Maven Pro';
    outline-style: unset;

}

#search-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.274);
    height: 32px;
    width: 55px;
    border-radius: 0 5px 5px 0;
    background-color: #2F3038;
    color: white;
}
button {
    cursor: pointer;
    font-family: 'Maven Pro';
    border: 0px solid grey;
    color: white;
    height: 35px;
    width: 95px;
    border-radius: 5px;
}

button#inscrire {
    background-color: #E52F20;
    margin-left: 55px;
}

button#connexion {
    background-color: #FF9900;
    margin-left: 35px;
}

#user-icon {
    position: absolute;
    right: 80px;
    margin-left: 35px;
}

#user-icon a {
    color: #2F3038;
}



/*Subnavbar */

#subnav-container {
    font-family: 'Maven Pro';
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    background-color: #2F3038;
    height: 40px;
    color: white;
}
#subnav-container #subnav {
    flex: 4.5;
}
#subnav-container #subnav .link {
    text-decoration: none;
    color: white;
    margin-right: 80px;
}
#subnav-container #hamburger-menu {
    flex: 1;
    margin-left: 20px;
}
.icons {
    margin-right: 4px;
    vertical-align: bottom;
}